@model List<MVC_Project.Models.Product>
@{
    ViewData["Title"] = "delete";
}


<table>
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Description</th>
        <th>Price</th>
        <th>StockQuantity</th>
        <th>BuyCounter</th>
        <th>Category</th>
    </tr>

    @foreach (var item in Model)
    {
        <form asp-action="delete" asp-route-id="@item.Id">
            <tr>
                <td>@item.Name</td>
                <td>@item.Brand</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.StockQuantity</td>
                <td>@item.BuyCounter</td>
                <td>@item.Category.CategoryName</td>
                <td><button class="btn btn-primary" >Delete</button></td>
            </tr>
        </form>
    }
</table>