@model Product
@{
    ViewData["Title"] = "Details";
    ViewData["id"] = Model.Id;
}
@functions {
    public float RoundToNearestHalf(float num) {
        float rounded = (float)Math.Round(num * 2,MidpointRounding.AwayFromZero) / 2;
        return rounded;
    }
}
<h1>Details</h1>




    <div class="container">
        <h1 class="mt-5">@Model?.Name</h1>

        <div class="row mt-4">
            <div class="col-md-1">
                <ul class="thumbnail-list">
                    <li><img src="/images/@Model.image" class="thumbnail" alt="Thumbnail 1"></li>
                    @foreach (var img in Model?.Images)
                    {
                        <li><img src="/images/@img.Image" class="thumbnail"></li>
                    }
                </ul>
            </div>
            <div class="col-md-5 main-image ">
                <img src="/images/@Model.image" alt="Product Image">
            </div>
            <div class="col-md-6">
                <h2>Product Description</h2>
                <p>@Model.Description</p>
                <h3>Price: @Model.Price</h3>
                @if (Model.StockQuantity>0)
                {
                    <p style="color:green;">Availability: In Stock </p>
                }
                else
                {
                    <p style="color:red;">Availability: In Stock</p>
                }
            <p class="product-rating mb-3">
                @{
                    float rate = float.Parse(Model.rate);
                    float roundedRate = RoundToNearestHalf(rate);
                }
                <span class="stras-num">@roundedRate</span><span class="stars"></span>
            </p>
            <div class="details-btns">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-primary" onclick="addToCardAuthorize(@Model.Id)">Add to Cart</button>
                }
                else
                {
                    <button class="btn btn-primary" onclick="addToCard(@Model.Id)">Add to Cart</button>
                }
                
                <i class="far fa-heart favorite-button fa-lg toggle-favorite ml-3"></i>
            </div>
            
        </div>
        
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Product Specifications</h2>
                <ul>
                    <li>Brand: @Model.Brand</li>
                </ul>
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_reviewInput" model="@ViewBag.product"/>
    }

    <partial name="_productReview" model="@ViewBag.reviews" />