<h1>Order Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var cartItem in ViewBag.CartItems)
        { 
            <tr>
                <td><img src="/images/@cartItem.Product.image" alt="@cartItem.Product.Name" width="50" height="50" /></td>
                <td>@cartItem.Product.Name</td>
                <td>@cartItem.Product.Brand</td>
                <td>@cartItem.Quantity</td>
                <td>@cartItem.Product.Price</td>
                
            </tr>
        }
    </tbody>
</table>
